@chartset "utf-8";
/* 로그인 완료 */
.login_complete_box{background:url("/images/common/bg/login_complete.png") no-repeat 39px 40%;background-size:30px auto;padding:27px 39px 26px 83px}
.login_complete_box .sub_title{font-size:14px;color:#000;margin-bottom:8px}
.login_complete_box .txt_box{font-size:11px;color:#333}
.btn_area{margin:15px 0;text-align:center}
.btn_area button{padding:9px 71px;font-size:14px;font-weight:bold;color:#fff;line-height:15px;border:1px solid #cb1929;border-radius:3px;background:#f14b59}

/* 약관동의 */
.terms_box{position:relative; margin-bottom:15px;}
.terms_box h3.terms_title{margin-bottom:10px; font-size:14px; color:#000; font-weight:bold; line-height:17px;}
.terms_box .associates{border:1px solid #bebebe; border-radius:5px; background:#fff;}
.terms_box .associates .txt_terms{height:78px; padding:10px 8px; overflow-y:auto; font-size:11px; color:#333; line-height:15px;}
.terms_box .associates .txt_terms pre{white-space:pre-wrap; word-break:break-all; word-wrap:break-word;}
.terms_box .associates .check_box{padding:7px 8px; box-shadow:0 3px 3px #cacaca inset;}
.terms_box .associates .check_box input, .terms_box .associates .check_box label{vertical-align:middle;}
.terms_box .associates .check_box label{font-size:11px; line-height:17px; color:#333;}
.terms_box .btn_txt{position:absolute; top:-3px; right:0;}
.all_check{margin-bottom:25px; line-height:17px;}
.all_check label, .all_check input{vertical-align:top;}
.all_check label{font-size:; color:#333;}

/* 전문보기 */
.terms_view h3.view_title{margin-bottom:10px; font-size:14px; color:#000; font-weight:bold; line-height:17px;}
.terms_view .txt_view{padding:10px 8px; margin-bottom:20px; border:1px solid #bebebe; border-radius:5px; font-size:11px; color:#333; line-height:14px; background:#fff;}
.terms_view .txt_view pre{white-space:pre-wrap; word-break:break-all; word-wrap:break-word;}