@chartset "utf-8";

body{background:#ebebed;-webkit-text-size-adjust:none;color:#333}
#wrap{min-width:320px}
#contents{position:relative;overflow:hidden}

/* Header */
header{width:100%;height:44px;border-bottom:1px solid #dcdcdd;background:#fcfcfe}
header p.market{float:left;padding:6px 18px;border-right:1px solid #969698}
header p.market a img{height:32px}
header h1.logo{float:left;padding:14px 0 0 12px; line-height:0}
header h1.logo a img{height:16px} /* 20140319 수정 */
header nav{float:right;padding:11px 15px 0 0}
header nav ul li{float:left;padding-left:12px;margin-left:13px;background:url("/images/common/bg/bg_nav_bar.gif") no-repeat 0 0;background-size:1px 20px}
header nav ul li:first-child{margin-left:0}
header nav ul li a img{height:21px}
header nav ul li.icon_basket{position:relative;}
header nav ul li.icon_basket span{position:absolute; top:-10px; left:3px; padding:3px; font-size:9px; color:#fff; border:1px solid #fff; border-radius:9px; background:#f14e57;}

/* 검색창 */
.search_top{display:none;position:absolute;width:100%;height:41px;border-bottom:1px solid #bf2b36;overflow:hidden;background:#f14c58;z-index:99}
.search_top .schwr{position:relative;margin:8px 45px 0 8px;border-top:1px solid #8c8c8c;border-radius:4px;background-color:#fff}
.search_top .schwr .schbx{padding:0 30px 0 5px}
.search_top .schwr .schbx input{width:100%;height:26px;border:0;box-shadow:none}
.search_top .schwr .btn_del{display:block;position:absolute;top:3px;right:7px}
.search_top .schwr .btn_del img{height:20px}
.search_top .btn_sch{position:absolute;top:8px;right:7px}
.search_top .btn_sch img{height:26px}
.dim{display:none;position:absolute;top:87px;left:0;width:100%;background:rgba(0,0,0,0.3);z-index:989}

/* Gnb */
nav#gnb{background:url("/images/common/bg/bg_gnb.gif") repeat-x 0 0;background-size:1px 100%}
nav#gnb ul li{float:left;width:25%;text-align:center;line-height:18px}
nav#gnb ul li a{display:block;padding:10px 0;font-size:12px;font-weight:bold;color:#101010;border-bottom:2px solid #f14c58}
nav#gnb ul li.on a{color:#fff;background:url("/images/common/bg/bg_gnb.jpg") no-repeat 0 0;background-size:100% 38px}

/* Footer */
footer{padding-bottom:33px}
.footer_list{margin-bottom:17px;border-top:1px solid #969696;border-bottom:1px solid #5c5c5c;box-shadow:0px 4px 4px #c7c7ca;background:#fff}
.footer_list ul li{float:left;width:24%;text-align:center;background:url("/images/common/bg/bg_fotlist_bar.gif") no-repeat 100% 50%;background-size:1px 15px}
.footer_list ul li:nth-child(3){width:28%;}
.footer_list ul li:last-child{background:none}
.footer_list ul li a{display:block;padding:10px 0;font-size:12px;font-weight:bold;color:#424242}
.footer_list ul li a.font_red{color:#f15055}

.add{padding-left:31px}
.add li{padding-left:7px;font-size:11px;color:#2c2c2c;background:url("/images/common/bg/dot_black.gif") no-repeat 0 5px;background-size:4px 4px}
.add li.gray_type{margin-top:13px;color:#8a8a8a;background:url("/images/common/bg/dot_gray.gif") no-repeat 0 5px;background-size:4px 4px}

/* 공통 */
#contents section{position:relative;z-index:1;overflow:hidden}
h3.title{color:#000;font-size:14px;padding:13px 0 7px 7px;position:relative}
h3.title em.sub_em{font-size:11px;font-weight:bold;color:#00bfdd;padding-left:3px}
.top_area{padding:9px 0 0 8px;border-bottom:1px solid #969696;background:#f5f5f5}
.top_area .location{margin-bottom:8px;font-size:11px;line-height:17px;font-weight:bold;color:#333}
.top_area .choice{position:relative;padding-right:71px;margin-bottom:8px}
.top_area .choice p{width:98%;padding-left:1%;line-height:0;border:1px solid #ccc;border-radius:2px;background:#fff}
.top_area .choice p select{width:100%;height:23px;font-size:10px;color:#333;line-height:15px;border:0;background:url("/images/common/icon/icon_select_arrow02.gif") no-repeat 100% 0;background-size:25px 23px}
.top_area .choice .btn_type{position:absolute;top:0;right:7px}
.top_area .choice .btn_type li{float:left;margin-left:3px}
.top_area .choice .btn_type li a img{height:25px}

.sub_menu{padding:2px;border-bottom:1px solid #5c5c5c;background:#d9d9d9}
.sub_menu ul li{float:left;width:33.3%;text-align:center;background:#fff}
.sub_menu ul li a{display:block;padding:11px 0 10px;font-size:12px;color:#333;line-height:17px;border-right:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9}
.sub_menu ul li:nth-child(3n) a{border-right:0}
.sub_menu ul li a.on{color:#fff;background:url("/images/common/bg/bg_query.jpg") no-repeat 0 0;background-size:100% 38px}
.sub_menu ul li.none div{height:38px;border-right:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9}
.sub_menu ul li.none:last-child div{border-right:0}

.info_box{margin:0 7px 0;padding:7px;border:1px solid #bebebe;border-radius:5px;background:#fff;overflow:hidden} /* 20140319 수정 */
.info_table_box{margin:0 7px 0;padding:7px 7px 0 7px;border:1px solid #bebebe;border-radius:5px;background:#fff}

.con_title{margin:15px 9 9px;font-size:14px;font-weight:bold;color:#000}
.btn_txt{padding:5px 9px;font-size:11px;font-weight:bold;color:#707070;line-height:13px;border:1px solid #adadad;border-radius:3px;background:#f8f8f7}
.btn_txt2{padding:5px 9px;font-size:11px;width:70%;text-align:center;font-weight:bold;color:#707070;line-height:13px;border:1px solid #adadad;border-radius:3px;background:#f8f8f7}
.con_area{padding:0 7px}
.font_red{color:#f15055}
.new{height:14px;vertical-align:top}
.btn_more{width:100%;margin-bottom:10px;font-size:12px;font-weight:bold;color:#333;text-align:center;vertical-align:middle;background:none}
.btn_more img{height:7px;vertical-align:middle}
.interest{padding:0 2px;font-size:9px;color:#fefefe;line-height:16px;border:1px solid #949494;border-radius:2px;background:#aeaeae} /* 20140319 수정 */
.top_title{padding:9px 0;margin-bottom:14px;font-size:17px;color:#101010;font-weight:bold;line-height:18px;text-align:center;border-bottom:2px solid #f14c58;background:#fff;}
.top_title2{padding:9px 0;margin-bottom:14px;font-size:13px;color:#101010;font-weight:bold;line-height:18px;text-align:center;border-bottom:2px solid #f14c58;background:#fff;}

/* 공통 버튼 */
.btn_area{margin-bottom:20px}
.btn_area ul li{float:left;width:49.5%;margin-right:1%;text-align:center}
.btn_area ul li:last-child{margin-right:0}
.btn_area ul li button{display:block;width:100%;padding:8px 0;border-radius:4px;font-size:14px;font-weight:bold;line-height:15px}
.btn_save button{border:1px solid #cb1929;color:#fff;background:#f14b59}
.btn_cancle button{border:1px solid #adadad;color:#000;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.0, #f6f5f5), color-stop(1.0, #fefdfe))}
.btn_app button{background-color:#f14b59;border:1px solid #cb1929;color:#fff}
.btn_prev{margin-bottom:20px;text-align:center;}
.btn_prev a{padding:7px 42px;font-size:14px;font-weight:bold;color:#333;line-height:15px;border:1px solid #adadad;border-radius:3px;background:#fff;} /* 20140319 수정 */
.btn_gradient{font-size:11px;color:#707070;font-weight:bold;border:1px solid #adadad;border-radius:3px;text-align:center;padding:0px 8px;height:27px;line-height:26px;background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.0, #f6f5f5), color-stop(1.0, #fefefe))}

/* 입력 서식 */
input, textarea, select{color:#333;font-size:12px;line-height:12px;text-indent:5px;background-color:#fff;border:1px solid #cacaca}
.select_box{border:1px solid #cacaca;-webkit-appearance:none}
.select_box select{width:100%;height:23px;font-size:12px;color:#333;line-height:15px;border:0;background:url("/images/common/icon/icon_select_arrow.gif") no-repeat 98% 9px;background-size:8px auto;-webkit-appearance:none}
.select_box2{border:1px solid #cacaca;-webkit-appearance:none}
.select_box2 select{width:100%;height:23px;font-size:12px;color:#333;line-height:15px;border:0;background:url("/images/common/icon/icon_select_arrow.gif") no-repeat 98% 9px;background-size:8px auto;-webkit-appearance:none}
.select_box3{border:1px solid #cacaca;-webkit-appearance:none}
.select_box3 select{width:100%;height:23px;font-size:12px;color:#333;line-height:15px;border:0;background:url("/images/common/icon/icon_select_arrow.gif") no-repeat 98% 9px;background-size:8px auto;-webkit-appearance:none}
.inp{float:left;height:23px;width:99%;line-height:15px;-webkit-appearance:none}
.inp2{height:23px;width:59%;line-height:15px;-webkit-appearance:none}
.txtar{height:21px;line-height:16px;padding:10px 0;width:99%;-webkit-appearance:none}
.ta_wrap{background-color:#FFFFFF;border:1px solid #cacaca;margin-bottom:6px;margin-right:1px;padding:7px 3px 3px;-webkit-appearance:none}
.ta_wrap .txtar{border:none;padding:0;text-indent:0;-webkit-appearance:none}
input[type="checkbox"]{background:url("/images/common/icon/icon_radio.png") no-repeat -1px -1px;float:left;width:17px;height:17px;background-size:55px auto;margin:2px 5px 0 0;border-radius:2px;border:1px solid #b3b3b3}
input[type="checkbox"]:checked{background-position:-29px -2px;border:1px solid #f0475c;background-color:#fff}
