@chartset "utf-8";

/* 공통 */
.main_contents{background:#fff; padding-bottom:30px;}

/* 쇼핑 */

/* 쇼핑 플리킹 배너 */
.flick_wr{position: relative; width:100%; height:80px;}
.flick_wr hr{position: absolute; width:100%; height:1px; z-index:99; background:rgba(0,0,0,0.2);}
.flick_wr hr.top{top:0; background:rgba(0,0,0,0);}
.flick_wr hr.bot{bottom:0;}
#touchSlider{position:relative; height:80px; overflow:hidden;}
#touchSlider ul{display:box; display:-webkit-box; height:80px; position:absolute; top:0; left:0;}
#touchSlider ul li{box-flex:1; -webkit-box-flex:1; width:100%; height:80px; font-size:15px; color:#fff; background:#9c9;}
#touchSlider ul li a{display:block; width:100%; text-align:center;}
#touchSlider ul li img{display:block; width:320px; height:80px; margin:0 auto;}
.btn_box{overflow:hidden; position:absolute; bottom:7px; left:50%; margin-left:-50px; width:100px; z-index:999; text-align:center;}
.btn_box .btn_page{display:inline-block; width:6px; height:6px;	margin:0 2px; font-size:0px; line-height:0; border-radius:3px; background:#959595; text-indent:-9999px;}
.btn_box .btn_page.on{background:#f14e57;}

.olleh_time{padding-top:3px; background:#494949;} /* 20140319 수정 */
.olleh_time section{padding:13px 0; background:#f14e57;} /* 20140319 수정 */
.olleh_time p{text-align:center;}
.olleh_time p span.txt_olleh{margin-right:8px; font-size:20px; font-weight:bold; color:#fefefe; line-height:17px;} /* 20140319 수정 */
.olleh_time p img{height:21px;}
.olleh_time p span.time{margin-left:8px; font-size:24px; color:#fff; line-height:17px; font-weight:bold;}

.olleh_list{padding:10px 8px; background:#494949 url("/images/common/bg/bg_ollehtime.jpg") no-repeat 50% 0; background-size:14px 6px;}
.olleh_list ul li{margin-bottom:7px; background:#fff;}
.olleh_list ul li:last-child{margin-bottom:0;}
.olleh_list ul li a{display:block;}
.olleh_list ul li a:after{content:""; display:block; clear:both;}
.olleh_list ul li a .img_goods{float:left;}
.olleh_list ul li a .img_goods img{height:112px;}
.olleh_list ul li a .txt_goods{margin:0 20px 0 121px;}
.olleh_list ul li a .txt_goods p.sale_green{padding:5px 0 4px; font-size:23px; text-decoration:italic; color:#40b0b3; line-height:17px;}
.olleh_list ul li a .txt_goods p.sale_green i{font-weight:bold;}
.olleh_list ul li a .txt_goods p.sale_green img{height:17px; vertical-align:top;}
.olleh_list ul li a .txt_goods p.title{height:32px; font-size:12px; font-weight:bold; color:#333; line-height:17px; overflow:hidden;} /* 20140319 수정 */
.olleh_list ul li a .txt_goods p.cost{font-size:11px; color:#999; line-height:17px;}
.olleh_list ul li a .txt_goods p.sale_price{font-size:14px; font-weight:bold; color:#333; line-height:17px;}
.olleh_list ul li a .txt_goods p.card{font-size:9px; color:#333; line-height:17px;}
.olleh_list ul li a .txt_goods p.card span.discount{padding:0 2px; border:1px solid #ccc; border-radius:2px;}

.hot_trend h2{position:relative; padding:21px 0 8px 30px; font-size:15px; font-weight:bold; color:#000; line-height:17px; border-bottom:1px solid #494949; box-shadow:0 3px 7px #bfbfbf; background:#fff url("/images/common/icon/icon_hot.gif") no-repeat 9px 18px; background-size:16px 18px; z-index:10;}
.hot_trend ul li{float:left; width:50%;}
.hot_trend ul li a{position:relative; display:block; border-left:1px solid #b6b6b6; border-bottom:1px solid #494949;} /* 20140319 수정 */
.hot_trend ul li a .txt_hot{position:absolute; bottom:10px; left:8px; font-size:12px; color:#fff; z-index:10;}/* 20140319 수정 */
.hot_trend ul li a .hot_bg{position:absolute; top:0; left:0; width:100%;}/* 20140319 수정 */
.hot_trend ul li a img{width:100%;}

.today_pic{position:relative; background:#ebebed;}
.today_pic h2{padding:21px 0 8px 30px; font-size:15px; font-weight:bold; color:#000; line-height:17px; border-bottom:1px solid #494949; background:#fff url("/images/common/icon/icon_today.gif") no-repeat 9px 22px; background-size:19px 14px;}
.today_pic .btn_arrow{position:absolute; top:17px; right:8px;}
.today_pic .btn_arrow img{height:21px;}

/* TV방송 */
.onair{padding:13px 7px 19px;}
.onair .img_box{position:relative; border:1px solid #ccc; border-bottom:1px solid #000;}
.onair .img_box .icon_onair{position:absolute; top:0; left:0;}
.onair .img_box .icon_onair img{height:39px;}
.onair .img_box .img_onair{width:100%;}
.onair .img_box .txt{position:absolute; bottom:0; left:0; width:100%; min-height:39px; background:url("/images/common/bg/bg_onair.png") repeat 0 0;}
.onair .img_box .txt p.title{width:225px; padding:7px 0 7px 7px; font-size:12px; color:#fff; line-height:17px;}
.onair .img_box .txt p.cost{position:absolute; top:7px; right:8px; font-size:11px; color:#b1b1b1; line-height:15px;}
.onair .img_box .txt p.sale_price{position:absolute; top:20px; right:8px; font-size:14px; font-weight:bold; color:#fff; line-height:15px;}
.onair .img_box .view{position:absolute; top:50%; left:50%; height:54px; margin:-32px 0 0 -27px;}
.onair .btn_order{display:block; padding:8px 0 9px; font-size:12px; color:#fffefe; font-weight:bold; line-height:10px; text-align:center; border-top:1px solid #8e8c8f; border-bottom:1px solid #232325; background:#3e3a3c;}
.onair .btn_order img{height:11px; vertical-align:top;}

.today_onair h2{padding:0 0 8px 8px; font-size:14px; font-weight:bold; color:#000; line-height:17px; border-bottom:1px solid #b4b4b4;}
.today_onair .onair_list{padding:17px 17px 8px; border-bottom:1px solid #ccc; background:url("/images/common/bg/bg_onair.gif") repeat 0 0; background-size:8px 5px;}
.today_onair .onair_list ul li{padding:8px; margin-bottom:8px; border:1px solid #bebebe; border-radius:5px;  background:#fff;}
.today_onair .onair_list ul li:after{content:""; display:block; clear:both;}
.today_onair .onair_list ul li:last-child{margin-bottom:0;}
.today_onair .onair_list ul li .img_goods{float:left; position:relative;}
.today_onair .onair_list ul li .img_goods img.goods{height:89px;}
.today_onair .onair_list ul li .img_goods img.view{position:absolute; bottom:3px; right:3px; height:34px;}
.today_onair .onair_list ul li .img_goods img.icon_type{position:absolute; bottom:-5px; left:-7px; height:46px;}
.today_onair .onair_list ul li .txt_goods{position:relative; min-height:89px; margin-left:98px;}
.today_onair .onair_list ul li .txt_goods p.title{height:40px; font-size:12px; font-weight:bold; color:#333; line-height:15px; overflow:hidden;} /* 20140319 수정 */
.today_onair .onair_list ul li .txt_goods p.cost{font-size:11px; color:#999; line-height:15px;}
.today_onair .onair_list ul li .txt_goods p.sale_price{margin-bottom:3px; font-size:14px; font-weight:bold; color:#333; line-height:15px;}
.today_onair .onair_list ul li .txt_goods p.card{font-size:9px; color:#333; line-height:17px;}
.today_onair .onair_list ul li .txt_goods p.card span.interest{margin-right:4px;}
.today_onair .onair_list ul li .txt_goods p.card span.discount{padding:0 2px; border:1px solid #ccc; border-radius:2px;}
.today_onair .onair_list ul li .txt_goods p.Percent{position:absolute; bottom:23px; right:7px; font-size:23px; font-weight:bold; color:#f14e57; line-height:17px;}
.today_onair .onair_list ul li .txt_goods p.delivery{position:absolute; bottom:0px; right:8px; padding:0 2px; border:1px solid #ccc; border-radius:2px; font-size:9px; color:#f14e57; line-height:15px;}

/* 기획전/이벤트 */
.main_planning h1{padding:14px 0 9px 8px; font-size:18px; font-weight:bold; color:#000; line-height:19px; border-bottom:1px solid #b4b4b4; text-align:center;}
.main_planning h2{padding:14px 0 9px 8px; font-size:14px; font-weight:bold; color:#000; line-height:17px; border-bottom:1px solid #b4b4b4; text-align:center;}
.main_planning .planning_list{padding:0 7px; background:#ebebed}
.main_planning .planning_list ul{padding:14px 0; background:url("/images/planning/bg_mainplanning.jpg") no-repeat 0 0, url("/images/planning/bg_mainplanning.jpg") no-repeat 0 100%; background-size:100% 14px;}
.main_planning .planning_list ul li{margin-bottom:5px; border:1px solid #ccc; text-align:center; background:#fff;}
.main_planning .planning_list ul li:last-child{margin-bottom:0;}
.main_planning .planning_list ul li a{display:block;}
.main_planning .planning_list ul li a img{width:304px;}

.main_event h2{padding:14px 0 9px 8px; font-size:14px; font-weight:bold; color:#000; line-height:17px; border-bottom:1px solid #b4b4b4;}
.main_event .event_list{padding:13px 7px; background:#ebebed}
.main_event .event_list ul li{margin-bottom:5px; border:1px solid #ccc; text-align:center; background:#fff;}
.main_event .event_list ul li.blue{background:#0c4ca3;}
.main_event .event_list ul li.skyblue{background:#caf2f3;}
.main_event .event_list ul li.green{background:#d9f04f;}
.main_event .event_list ul li:last-child{margin-bottom:0;}
.main_event .event_list ul li a{display:block;}
.main_event .event_list ul li a img{width:304px;}

/* 기획전 상세 */
.plannimg_banner{position:relative; border-bottom:1px solid #969696; text-align:center;}
.plannimg_banner img{width:320px;}
.plannimg_banner .bottom{position:absolute; left:0; bottom:0; width:100%; height:4px; box-shadow:0 0 8px #e4e4e5 inset;}

/* 이벤트 상세 */
.event_banner img{width:100%;}

/* 카테고리 메인 */
.main_category{padding-bottom:20px; background:url("/images/common/bg/bg_onair.gif") repeat 0 0; background-size:8px 5px;}
.main_category ul li{float:left; width:50%;}
.main_category ul li a{display:block; border-right:1px solid #fff; border-bottom:1px solid #fff;}
.main_category ul li:nth-child(2n) a{border-right:0;}
.main_category ul li a .img_category{width:157px; height:111px; margin:9px auto 0; background:url("/images/common/bg/bg_mainlist.png") no-repeat 0 0; background-size:157px 111px;}
.main_category ul li a .img_category img{height:89px; padding:4px 0 0 4px;}
.main_category ul li a p.txt{padding:9px 0 9px; font-size:12px; color:#fffefe; line-height:15px; text-align:center; background:url("/images/common/bg/bg_main_category.gif") repeat-x 0 0; background-size:100% 33px;}
.main_category ul li a p.txt img{height:13px;}

/* 카테고리 상세 */

/* 상품리스트 가로형 */
.goods_list_x ul li{position:relative; padding:8px 0 9px 8px; border-bottom:1px solid #ccc;}
.goods_list_x ul li a{display:block;}
.goods_list_x ul li a:after{content:""; display:block; clear:both;}
.goods_list_x ul li a .img_goods{float:left; position:relative;}
.goods_list_x ul li a .img_goods .rank{position:absolute; top:0; left:0; width:20px; padding:2px 0; font-size:12px; color:#f14b59; line-height:17px; text-align:center; background:#292929;} /* 20140319 수정 */
.goods_list_x ul li a .img_goods img{height:89px;}
.goods_list_x ul li a .img_goods img.icon_type{position:absolute; bottom:-8px; left:-3px; height:46px;}
.goods_list_x ul li a .txt_goods{position:relative; min-height:89px; margin:0 8px 0 97px;}
.goods_list_x ul li a .txt_goods p.title{height:40px; font-size:12px; font-weight:bold; color:#333; line-height:15px; overflow:hidden} /* 20140319 수정 */
.goods_list_x ul li a .txt_goods p.cost{font-size:11px; color:#999; line-height:15px;}
.goods_list_x ul li a .txt_goods p.sale_price{margin-bottom:3px; font-size:14px; font-weight:bold; color:#333; line-height:15px;}
.goods_list_x ul li a .txt_goods p.card{font-size:9px; color:#333;}
.goods_list_x ul li a .txt_goods p.card span.interest{margin-right:4px;}
.goods_list_x ul li a .txt_goods p.card span.discount{padding:0 2px; line-height:15px; border:1px solid #ccc; border-radius:2px;} /* 20140319 수정 */
.goods_list_x ul li a .txt_goods p.Percent{position:absolute; bottom:23px; right:0; font-size:21px; font-weight:bold; color:#f14e57; line-height:15px;}
.goods_list_x ul li a .txt_goods p.delivery{position:absolute; bottom:0; right:0; padding:0 2px; border:1px solid #ccc; border-radius:2px; font-size:9px; color:#f14e57; line-height:15px;}

/* 상품리스트 세로형 */
.goods_list_y{padding:7px 7px 0; border-bottom:1px solid #ccc; background:#ebebed;}
.goods_list_y ul li{float:left; width:49.5%; margin:0 1% 5px 0; line-height:0;}
.goods_list_y ul li:nth-child(2n){margin-right:0;}
.goods_list_y ul li a{display:block; border:1px solid #bebebe; border-radius:5px; background:#fff;}
.goods_list_y ul li a .img_goods{position:relative; padding:8px 10px 7px;}
.goods_list_y ul li a .img_goods .rank{position:absolute; top:8px; left:9px; width:20px; padding:2px 0; font-size:12px; color:#f14b59; line-height:17px; text-align:center; background:#292929;}
.goods_list_y ul li a .img_goods img{width:100%;}
.goods_list_y ul li a .img_goods img.icon_type{position:absolute; bottom:0; left:0; width:41px; height:41px;}
.goods_list_y ul li a p.title{height:30px; padding:0 10px 5px; margin-bottom:5px; font-size:12px; font-weight:bold; color:#333; line-height:15px; border-bottom:1px solid #ccc; overflow:hidden;} /* 20140319 수정 */
.goods_list_y ul li a .price_box{position:relative; min-height:50px; padding:0 10px 7px;}
.goods_list_y ul li a .price_box p.cost{font-size:11px; color:#999; line-height:15px;}
.goods_list_y ul li a .price_box p.sale_price{margin-bottom:3px; font-size:14px; font-weight:bold; color:#333; line-height:15px;}
.goods_list_y ul li a .price_box p.card{font-size:9px; color:#333; line-height:17px;}
.goods_list_y ul li a .price_box p.card span.interest{margin-right:4px;}
.goods_list_y ul li a .price_box p.card span.discount{padding:0 2px; border:1px solid #ccc; border-radius:2px;}
.goods_list_y ul li a .price_box p.Percent{position:absolute; bottom:30px; right:7px; font-size:23px; font-weight:bold; color:#f14e57; line-height:17px;} /* 20140319 수정 */
.goods_list_y ul li a .price_box p.delivery{position:absolute; bottom:7px; right:8px; padding:0 2px; border:1px solid #ccc; border-radius:2px; font-size:9px; color:#f14e57; line-height:15px;} /* 20140319 수정 */

/* 미디어 */
@media all and (min-width:421px){
	.hot_trend ul li{width:25%;}
	.goods_list_y ul li{width:32.6%; margin-right:1%;}
	.goods_list_y ul li:nth-child(2n){margin-right:1%;}
	.goods_list_y ul li:nth-child(3n){margin-right:0;}
}
