@chartset "utf-8";

/* reset */
html{height:100%;}
body{height:100%;}
body,div,form,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,em,p,span,textarea,pre,label,fieldset,th,td,button,a,input,select,hr{
	margin:0;padding:0;
	font-family:HelveticaNeue,arial,'Apple SD Neo Gothic','Apple Gothic',sans-serif;
}
em,address{font-style:normal;}
ol,ul,dl{list-style:none;}
fieldset,img,hr,button{border:0;}
img{vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
legend,caption{width:0;height:0;position:absolute;left:0;top:0;overflow:hidden;font-size:0;line-height:0;padding:0;}
a{text-decoration:none; color:#2c2c2c;}
a:hover{text-decoration:none;}
textarea{resize:none;outline:none;}
button{cursor:pointer;overflow:visible;outline:none;}
.blind{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;font-size:0;line-height:0;}

/* floating */
.fl{float:left;}
.fr{float:right !important;}
.cl{clear:both;}
.cn{clear:none !important;}
.clfix:after{content:"";display:block;clear:both;}

/* align */
.al{text-align:left !important;}
.ac{text-align:center !important;}
.ar{text-align:right !important;}

.vt{vertical-align:top !important;}
.vm{vertical-align:middle !important;}
.vb{vertical-align:bottom !important;}
.ova{overflow:auto;}

/******** font style ********/

/* font size */
.f9{font-size:9px !important;}
.f10{font-size:10px !important;}
.f11{font-size:11px !important;}
.f12{font-size:12px !important;}
.f13{font-size:13px !important;}
.f14{font-size:14px !important;}
.f15{font-size:15px !important;}
.f16{font-size:16px !important;}
.f18{font-size:18px !important;}
.f20{font-size:20px !important;}
.f22{font-size:22px !important;}

/* font weight */
.normal{font-weight:normal !important;}
.bold{font-weight:bold;}

/* font decoration */
.underline{text-decoration:underline !important;}

/* font color */
.blue1{color:#0b4db0 !important;}
.blue2{color:#0092d7 !important;}
.blue3{color:#092264 !important;}
.red1{color:#ff3300 !important;}
.red2{color:#e00b00 !important;}
.black{color:#000 !important;}
.gray222{color:#222 !important;}
.gray999{color:#999 !important;}
.orange{color:#ff3300 !important;}
.orange2{color:#ff5a00 !important;}
.white{color:#fff !important;}

/* width */
.w1{width:1% !important;}
.w2{width:2% !important;}
.w3{width:3% !important;}
.w4{width:4% !important;}
.w5{width:5% !important;}
.w6{width:6% !important;}
.w7{width:7% !important;}
.w8{width:8% !important;}
.w9{width:9% !important;}
.w10{width:10% !important;}
.w11{width:11% !important;}
.w12{width:12% !important;}
.w13{width:13% !important;}
.w14{width:14% !important;}
.w15{width:15% !important;}
.w16{width:16% !important;}
.w17{width:17% !important;}
.w18{width:18% !important;}
.w19{width:19% !important;}
.w20{width:20% !important;}
.w21{width:21% !important;}
.w22{width:22% !important;}
.w23{width:23% !important;}
.w24{width:24% !important;}
.w25{width:25% !important;}
.w26{width:26% !important;}
.w27{width:27% !important;}
.w28{width:28% !important;}
.w29{width:29% !important;}
.w30{width:30% !important;}
.w31{width:31% !important;}
.w32{width:32% !important;}
.w33{width:33% !important;}
.w34{width:34% !important;}
.w35{width:35% !important;}
.w36{width:36% !important;}
.w37{width:37% !important;}
.w38{width:38% !important;}
.w39{width:39% !important;}
.w40{width:40% !important;}
.w41{width:41% !important;}
.w42{width:42% !important;}
.w43{width:43% !important;}
.w44{width:44% !important;}
.w45{width:45% !important;}
.w46{width:46% !important;}
.w47{width:47% !important;}
.w48{width:48% !important;}
.w49{width:49% !important;}
.w50{width:50% !important;}
.w51{width:51% !important;}
.w52{width:52% !important;}
.w53{width:53% !important;}
.w54{width:54% !important;}
.w55{width:55% !important;}
.w56{width:56% !important;}
.w57{width:57% !important;}
.w58{width:58% !important;}
.w59{width:59% !important;}
.w60{width:60% !important;}
.w61{width:61% !important;}
.w62{width:62% !important;}
.w63{width:63% !important;}
.w64{width:64% !important;}
.w65{width:65% !important;}
.w66{width:66% !important;}
.w67{width:67% !important;}
.w68{width:68% !important;}
.w69{width:69% !important;}
.w70{width:70% !important;}
.w71{width:71% !important;}
.w72{width:72% !important;}
.w73{width:73% !important;}
.w74{width:74% !important;}
.w75{width:75% !important;}
.w76{width:76% !important;}
.w77{width:77% !important;}
.w78{width:78% !important;}
.w79{width:79% !important;}
.w80{width:80% !important;}
.w81{width:81% !important;}
.w82{width:82% !important;}
.w83{width:83% !important;}
.w84{width:84% !important;}
.w85{width:85% !important;}
.w86{width:86% !important;}
.w87{width:87% !important;}
.w88{width:88% !important;}
.w89{width:89% !important;}
.w90{width:90% !important;}
.w91{width:91% !important;}
.w92{width:92% !important;}
.w93{width:93% !important;}
.w94{width:94% !important;}
.w95{width:95% !important;}
.w96{width:96% !important;}
.w97{width:97% !important;}
.w98{width:98% !important;}
.w99{width:99% !important;}
.w100{width:100% !important;}

/* padding margin style */
.p0{padding:0 !important;}
.p5{padding:5px !important;}
.p10{padding:10px !important;}
.p15{padding:15px !important;}
.p20{padding:20px !important;}

.pt0{padding-top:0 !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}
.pt35{padding-top:35px !important;}
.pt40{padding-top:40px !important;}
.pt45{padding-top:45px !important;}
.pt50{padding-top:50px !important;}
.pt55{padding-top:55px !important;}
.pt60{padding-top:60px !important;}

.pb0{padding-bottom:0 !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb35{padding-bottom:35px !important;}
.pb40{padding-bottom:40px !important;}
.pb45{padding-bottom:45px !important;}
.pb50{padding-bottom:50px !important;}
.pb55{padding-bottom:55px !important;}
.pb60{padding-bottom:60px !important;}

.pl0{padding-left:0px !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pl35{padding-left:35px !important;}
.pl40{padding-left:40px !important;}
.pl45{padding-left:45px !important;}
.pl50{padding-left:50px !important;}
.pl55{padding-left:55px !important;}
.pl60{padding-left:60px !important;}

.pr0{padding-right:0px !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr30{padding-right:30px !important;}
.pr35{padding-right:35px !important;}
.pr40{padding-right:40px !important;}
.pr45{padding-right:45px !important;}
.pr50{padding-right:50px !important;}
.pr55{padding-right:55px !important;}
.pr60{padding-right:60px !important;}

.m0{margin:0 !important;}
.m5{margin:5px !important;}
.m10{margin:10px !important;}
.m15{margin:15px !important;}
.m20{margin:20px !important;}

.mt0{margin-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px !important;}
.mt40{margin-top:40px !important;}
.mt45{margin-top:45px !important;}
.mt50{margin-top:50px !important;}
.mt55{margin-top:55px !important;}
.mt60{margin-top:60px !important;}

.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb35{margin-bottom:35px !important;}
.mb40{margin-bottom:40px !important;}
.mb45{margin-bottom:45px !important;}
.mb50{margin-bottom:50px !important;}
.mb55{margin-bottom:55px !important;}
.mb60{margin-bottom:60px !important;}

.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.ml35{margin-left:35px !important;}
.ml40{margin-left:40px !important;}
.ml45{margin-left:45px !important;}
.ml50{margin-left:50px !important;}
.ml60{margin-left:60px !important;}

.mr0{margin-right:0px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.mr35{margin-right:35px!important;}
.mr40{margin-right:40px !important;}
.mr45{margin-right:45px !important;}
.mr50{margin-right:50px !important;}
.mr55{margin-right:55px !important;}
.mr60{margin-right:60px !important;}

/* display */
.disn{display:none;}
.disb{display:block;}
.disi{display:inline;}
.disib{display:inline-block;}
.bgnone{background:none !important;}
.bln{border-left:none !important;}
.brn{border-right:none !important;}
.bbn{border-bottom:none !important;}
.born{border:none !important;}